<h3>Hello there!</h3>
<p>
You’ve stumbled across my little corner of the web, where I’ve gathered all the projects I’ve poured my time and creativity into over the years.<br />
Feel free to explore and take a glimpse into my journey as a maker, tinkerer, and lifelong learner.<br />
Thanks for stopping by!
</p>
<div>
    {% for tag in tags %}
    <a class="tag">{{tag.name}}<span>{{tag.count}}</span></a>
    {% endfor %}
</div>
<div style="height: 50px;"></div>
{% for post in posts %}
<div class="post-entry">
    <h2>{{post.title}}</h2>
    <h4 class="post-date">{{post.date}} • {% for tag in post.tags %} {{tag}} {% endfor %}</h4>
    <div>{{post.content | safe}}</div>
</div>
{% endfor %}