<html>
    <head>    
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-HVL7SKH3BH"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HVL7SKH3BH');
        </script>
        <title>Stalker2106's Corner</title>
        <link rel="icon" type="image/x-icon" href="./assets/portfolio.ico">
        <link rel="stylesheet" href="./assets/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Fira Code' rel='stylesheet'>
    </head>
    <body>
        <div class="app">
            <!-- MAIN CONTAINER -->
            <div class="main-container">
                {{navigation | safe}}
                <!-- PAGE CONTENT -->
                <div id="content">
                    {{pageContent|safe}}
                </div>
            </div>
        </div>
        <div class="footer">crafted with &#60;3 - Stalker2106</div>
        <div id="image-popup" class="image-popup" style="visibility: hidden;">
            <img class="image-popup-close" onclick="closeImagePopup()" src="assets/close.png" />
            <div class="image-popup-container" onclick="closeImagePopup()">
                <img id="image-popup-img" onclick="event.stopPropagation()">
                <p id="image-popup-caption"></p>
            </div>
        </div>
    </body>
    <script>
        const closeImagePopup = function () {
            const popup = document.getElementById("image-popup")
            popup.style.visibility = 'hidden'
        }

        const openImagePopup = function(event) {
            const popup = document.getElementById("image-popup")
            const popupImg = document.getElementById("image-popup-img")
            const popupCaption = document.getElementById("image-popup-caption")
            const img = event.target
            popupImg.src = img.src
            popupCaption.innerText = img.nextElementSibling.innerText
            popup.style.visibility = 'visible'
        }

        const postsImages = document.getElementsByClassName("post-image")
        for (const img of postsImages) {
            img.addEventListener('click', openImagePopup, false);
        }
    </script>
</html>
